<div class="col-md-10 offset-md-1">
  <div class="card ">
    <div class="card-body ">
        <div class="registrotitle text-center">
          <h1  >Ingreso de Vehículo</h1>
        </div>

   <form [formGroup]="form" class="row g-3" style="margin-top: 30px;" (ngSubmit)="save($event)">

      <div class="col-md-4">

        <label for="validationDefault01" class="form-label">Nombres del Chofer:</label>
        <input name="chofer" type="text" class="form-control" id="validationDefault01" value="Mark" autofocus [(ngModel)]="vehiculo.chofer"  required formControlName="chofer">
        <span *ngIf="this.form.get('chofer')?.errors?.required" style="color: red;">
          (El campo no puede ser enviado vacío)
        </span>
        <span *ngIf="this.form.get('chofer')?.errors?.minlength" style="color: red;">
          (Debe tener mínimo 10 cacteres)
        </span>
        
      </div>

      <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Nombres del Oficial:</label>
        <input type="text" class="form-control" id="validationDefault02" value="Otto" autofocus  [(ngModel)]="vehiculo.oficial" required formControlName="oficial">
        <span *ngIf="this.form.get('oficial')?.errors?.required" style="color: red;">
          (El campo no puede ser enviado vacío)
        </span>
        <span *ngIf="this.form.get('oficial')?.errors?.minlength" style="color: red;">
          (Debe tener mínimo 10 cacteres)
        </span>
      </div>

      <div class="col-md-2">
        <label for="validationDefault05" class="form-label">No. Placa:</label>
        <input type="text" class="form-control" id="validationDefault06" autofocus [(ngModel)]="vehiculo.placa" required formControlName="placa" >
        <span *ngIf="this.form.get('placa')?.errors?.required" style="color: red;">
          (El campo no puede ser enviado vacío)
        </span>
        <span *ngIf="this.form.get('placa')?.errors?.minlength" style="color: red;">
          (Debe tener 8 caracteres)
        </span>
      </div>

      <div class="col-md-2">
        <label for="validationDefault03" class="form-label">No. Bultos:</label>
        <input type="number" class="form-control" id="validationDefault03" autofocus [(ngModel)]="vehiculo.bultos" formControlName="bultos">
        <span *ngIf="this.form.errors && (form.dirty || form.touched)">
          <p *ngIf="form.errors.pattern" class="text-danger">Solo ingrese números</p>
        </span>
      </div>

      <div class="col-md-6">
        <label for="validationDefault03" class="form-label">Novedad:</label>
        <input type="text" class="form-control" id="validationDefault04" [(ngModel)]="vehiculo.nota" [ngModelOptions]="{standalone: true}" required value="N/A">
      </div>

      
      <div class="col-md-6"  >
        <label for="validationDefault04" class="form-label">Proveedor:</label>
        <ng-select  class="form-select" class="form-control" [items]="rta" 
          required
          autofocus [(ngModel)]="webservice.nombre"
           [ngModelOptions]="{standalone: true}"
           bindLabel="nombre" 
           bindValue="id" 
           [(ngModel)]="webservice.nombre">
        </ng-select>
      </div>


      
      <div>
        
        <button class="btn btn-primary "  style="margin-top: 50px;" type="submit" routerLink="/" (click)= "edit ? updateVehiculo() : saveNewVehiculo()" [disabled]="form.invalid">Guardar</button>
        
        <button class="btn btn-primary "  style="margin-left: 10px; margin-top: 50px;" type="submit" routerLink="/">Cancelar</button>
      
      </div>

    </form>

</div>

</div>
</div>



