<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg ">
        <div class="content">  
            <div class="card text-center">
                <div class="card card-header">
                    <h3>Registro de Vehículos</h3>
                    
                </div>

                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                      <form class="d-flex">
                        <label><h6>Buscar por chofer: </h6>  </label>
                        <input class="form-control me-2" type="text" name="filterVehiculo" placeholder="Buscar" [(ngModel)]="filterVehiculo">
                        
                      </form>
                    </div>
                </nav>
                    
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th (click)= "ordenar('id')" >No. <i class="fas fa-sort"></i> </th>
                                <th (click)= "ordenar('id');" >Chofer <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('oficial');" >Oficial <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('bultos');" >Bultos <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('placa');" >Placa <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('idproveedor');" >Proveedor <i class="fas fa-sort"></i> </th>
                                <th (click)= "ordenar('nota');" >Nota <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('fecha');" >Fecha <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('horaentrada');">Hora Entrada <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('horaingreso');">Hora Ingreso <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('horasalida');">Hora Salida <i class="fas fa-sort"></i></th>
                                <th (click)= "ordenar('estado');"> Estado<i class="fas fa-sort"></i></th>
                                <th colspan="3">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor=" let vehiculo of vehiculos
                            | orderBy: clave: reversa: true  
                            | filter: filterVehiculo
                            | filter: filterFecha
                            | paginate: {itemsPerPage: 7, currentPage: pageActual} ; let i=index ">
                                
                                <td>{{i+1}}</td>
                                <td>{{vehiculo.chofer}}</td>
                                <td>{{vehiculo.oficial}}</td>
                                <td>{{vehiculo.bultos}}</td>
                                <td>{{vehiculo.placa}}</td>
                                <td>{{vehiculo.idproveedor}}</td>
                                <td>{{vehiculo.nota}}</td>
                                <td>{{vehiculo.fecha | date: 'dd-MM-YYYY'}}</td>
                                <td>{{vehiculo.horaentrada}}</td>
                                <td>{{vehiculo.horaingreso}}</td>
                                <td>{{vehiculo.horasalida}}</td>
                                <td><span class="badge rounded-pill bg-primary" *ngIf="vehiculo.estadoVehiculo==0">Entrada</span>
                                    <span class="badge rounded-pill bg-warning text-dark" *ngIf="vehiculo.estadoVehiculo==1">Ingreso</span>
                                    <span class="badge rounded-pill bg-success" *ngIf="vehiculo.estadoVehiculo==2">Salida</span>
                                </td>
                                
                                
                                <td>
                                    <button  (click)="actualizarEstado(vehiculo.id)" class="btn btn-primary"  [disabled]="vehiculo.estadoVehiculo==condicion">
                                        <i class="far fa-clock"></i>
                                    </button>
                                </td>
                            
                                <td>
                                    <button class="btn btn-danger" style="margin-left: 10px;" (click)=" eliminarVehiculo(vehiculo.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>

        </div>
    </nav>
</body>
</html>