

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
 
    <a routerLink="/">
      <img
      width="130"
      alt="Angular Logo"
      src="https://diverzu.com.ec/assets/image001.png"
    /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
  
      <ul class="nav nav-pills nav-fill ml-auto">


        
        <li class="nav-item" color="white" >
          <button type="button" class="btn btn-primary btn-lg" routerLink="/vehiculos/add" routerLinkActive="active"><a aria-current="page"></a>
            <i class="far fa-plus-square"> Crear</i>
          </button>

        </li>
        
        
      </ul>
  
    </div>
  </nav>






<div>
  <router-outlet></router-outlet>
</div>

